<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/styles.css">

		<script>
		MathJax = {
			loader: {
				load: [
				'input/tex-base', '[tex]/newcommand', '[tex]/action',
				'output/chtml'
				]
			},
			tex: {
				inlineMath: [['\\(', '\\)']],
				packages: ['base', 'newcommand', 'action']
			}
		};
		</script>

		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		<title>{{ page.title }}</title>
	</head>

	<body>
		<div class="sidebar">
			<h3> <a href="{{ site.data.navigation.Home }}">Home</a> </h3>
			{% for section in site.data.navigation.content %}
				<h3> {{ section[0] }} </h3>
				{% for page in section[1] %}
					<li><a href="{{ page[1] }}"{% if page.url == page[1] %}style="color: red;"{% endif %}>
						{{ page[0] }}
					</a><br></li>
				{% endfor %}
			{% endfor %}
		</div>

		<div class="main">
			{{ content }}
		</div>
	</body>
</html>
